<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomerce diseño </title>
    <script src="https://kit.fontawesome.com/b1959f0f85.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles/style_index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="{{url_for('static', filename='docs/logo.jpg')}}" width="125px">
                </div id="desplegable">
                <nav>
                    <ul>
                        <ul id="menu">

                            <li><a href="/menulogin">Menu</a></li>
                            <li><a href="/productslog">Explorar</a></li>
                            <li><a href="/lista_deseos">Lista De Deseos</a></li>
                            <li><a href="/logout">Cerrar Sesion</a></li>
                            <li><a href="/contactslog">Contactenos</a></li>
                            <li><a href="/preguntaslog">Preguntas Frecuentes</a></li>

                        </ul>


                    </ul>
            </div>
            {% if current_user.is_authenticated %} Hola {{ current_user.nombre }}! {% endif %}
            <div class="row">
                <div class="col-2">
                    <h1>Consigue Lo Que Nececitas <br>A Un Click De Distancia</h1>
                    <p>¿Hay algo que quieras consguir? <br>Este es el lugar adecuado para ti y por ti!</p>
                    <a href="/productslog" class="btn">Explorar &#9728;</a>
                </div>
                <div class="col-2">
                    <img src="{{url_for('static', filename='docs/ecommerce-3021581_1280.jpg')}}">

                </div>
            </div>
        </div>
    </div>


</body>

</html>